body {
    background-color: rgb(37, 23, 22);

    font-family: "Times";

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

a {
    cursor: default;
}

.hidden {
    position: absolute;
    visibility: hidden !important;
    opacity: 0.0;
}

/* Dialog */
.dialog {
    position: fixed;
    left: 50%;
    top: 40px;
    transform: translate(-50%, 0%);

    min-width: 700px;
    max-width: 300px;
    
    margin: auto;
    border-style: double;
    border-color: white;
    border-width: 10px;
    padding: 20px;
    
    background-color: rgb(136, 111, 94);
    padding-bottom: 15px; 
    opacity: .6;
    transition: opacity 200ms ease-in;

    box-shadow: 5px 5px 2px black;
}

.dialog .message {
    color: black;
    /* text-transform: uppercase;    */
    letter-spacing: 0.10em;
    font-size: 22px;
    text-shadow: 1px 1px rgb(73, 48, 46);
}

.dialog .author {
    text-align: right;
    margin-bottom: 10px;
}

#choice {
    position: fixed;
    left: 50%;
    top: 230px;
    transform: translate(-40%, 0%);

    min-width: 550px;
    max-width: 300px;
}

#choice ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#choice ul li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

#choice ul li {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(136, 111, 94);
    padding: 10px;
}

#choice ul li:hover {
    border-color: white;
}
